/* Import tokens */
@import '../tokenUtils.scss';

/* Переход оси */
.slider-axis-923-11-0-8:before {
  transition: background-color $LOCAL_DURATION_M $LOCAL_MOTION_LINEAR;
}

/* Переход заполнения оси */
.slider-axisFill-f1d-11-0-8 {
  transition: $LOCAL_DURATION_M;
}

/* Переход счетчика */
.slider-counter-a01-11-0-8 {
  transition: right $LOCAL_DURATION_S;
}

/* Переход внутренней части ползунка */
.slider-thumb-2b5-11-0-8 .slider-thumbInner-c38-11-0-8 {
  transition: box-shadow $LOCAL_DURATION_L $LOCAL_MOTION_EASE;
}

/* Переход точки внутренней части ползунка */
.slider-thumb-2b5-11-0-8 .slider-thumbInner-c38-11-0-8 .slider-thumbInnerDot {
  transition: 
    height $LOCAL_DURATION_L $LOCAL_MOTION_EASE_OUT,
    width $LOCAL_DURATION_L $LOCAL_MOTION_EASE_OUT;
}

/* Переходы при перетаскивании ползунка */
.slider-thumb-2b5-11-0-8.slider-dragging .slider-thumbInner-c38-11-0-8 {
  transition-duration: $LOCAL_DURATION_M;
  transition-timing-function: $LOCAL_MOTION_EASE_OUT;
}

.slider-dragging .slider-thumb-2b5-11-0-8 .slider-thumbInner-c38-11-0-8 {
  transition-duration: $LOCAL_DURATION_M;
  transition-timing-function: $LOCAL_MOTION_EASE_OUT;
}

/* Отключить переход в активном состоянии */
.slider-root-80f-11-0-8.slider-active-c30-11-0-8 .slider-axisFill-f1d-11-0-8 {
  transition: 0s;
} 